<header class="has-text-centered">
  <h1 class="title is-3">JavaScript Game Projects</h1>
  <p class="subtitle is-5 mt-5">Each one of the projects below were developed by following the course:
    <a target="_blank" href="http://https://www.youtube.com/watch?v=GFO_txvwK_c&t=5148s">
      JavaScript Game Development Course for Beginners
    </a>
    on the
    <a target="_blank" href="https://www.youtube.com/@freecodecamp">
      freeCodeCamp.org Youtube channel
    </a>
    , taught by
    <a target="_blank" href="https://www.youtube.com/c/Frankslaboratory">Franks Laboratory</a>
  </p>
  <p class="subtitle">
    Thanks, Frank and freeCodeCamp for the great course!
  </p>
  <p class="subtitle">
    This page to showcase the projects was developed by <a class="has-text-weight-bold" target="_blank" href="#">me (Naiara Correa)</a>
  </p>
</header>