<section class="hero is-success is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/assets/images/bulma-type-white.png" alt="Logo" />
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active"> Home </a>
            <a class="navbar-item"> Examples </a>
            <a class="navbar-item"> Documentation </a>
            <span class="navbar-item">
              <a class="button is-success is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title mb-5">JavaScript Game Projects</p>
      <p class="subtitle">
        These projects were developed by following the course:
        <a class="has-text-black has-text-weight-bold" target="_blank" href="http://https://www.youtube.com/watch?v=GFO_txvwK_c&t=5148s">
          JavaScript Game Development Course for Beginners
        </a>
        on the
        <a class="has-text-black has-text-weight-bold" target="_blank" href="https://www.youtube.com/@freecodecamp">
          freeCodeCamp.org Youtube channel,
        </a>
        taught by
        <a class="has-text-black has-text-weight-bold" target="_blank" href="https://www.youtube.com/c/Frankslaboratory">Franks Laboratory</a>
      </p>
      <p class="subtitle">
        Thanks, Frank and freeCodeCamp for the great course!
      </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>